.results__container {

  h1 {
    color: #fff;
    margin: 0 auto;
    flex-basis: 100%
  }

}

.match__score {
  width: max-content;
  background-color: #a7d8fb;
  color: #00285e;
  padding: 0 1rem;
  margin: 1rem auto 0;
}