.container__about {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00285e;
  padding: 3rem 1rem;
  flex-wrap: wrap;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    margin-bottom: 0;
  }

  .container--centered {
    align-items: center;
  }

  .about__founded {
    width: 100%;
    color: #fff;

    span {
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
    }
  }

  .about__description {
    line-height: 1.5;
    margin-bottom: 1rem;
  }
}



.instafeed__heading {
  text-align: center;
}

.BlueBtn {
  width: 100%;
  padding: 12px;
  background-color: var(--primaryColor);
  color: #000;
  border-radius: 16px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  margin: 1rem 0;

  &:hover {
    color: var(--primaryColor);
    background-color: var(--secondaryColor);
    border-radius: 16px;
    outline: 1px solid var(--primaryColor);
    cursor: pointer;
  }
}


.sponsors__centered {
  align-items: center;
}

.primaryBtn,
.editBtn,
.deleteBtn {
  width: 100%;
  background-color: #a7d8fc;
  color: #000;
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.primaryBtn:hover {
  background-color: #a7d9fce8;
  ;
}

.secondaryBtn {
  background-color: grey;
  width: 100%;
  color: #000;
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.secondaryBtn:hover {
  background-color: #f9f9f9;
}


.editBtn,
.deleteBtn {
  background-color: #ad002e;
  color: #fff;
  float: right;
  width: 45%;
  padding: 8px;
  margin: 1rem 0;

}

.training__schedule {
  color: #fff;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {


  .primaryBtn,
  .secondaryBtn,
  .BlueBtn {
    width: 9rem;
  }

}