header {
  background-color: #a7d8fd;
  height: 25rem;
  margin-bottom: 2rem;
}

.App-logo {
  width: 30rem;
  height: 30rem;
  pointer-events: none;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

b {
  font-size: 16px;
}

.social-links {
  display: inline-block;
}

.social-links > a:not(:first-child) {
  margin-left: 1rem;
}

i {
  color: #a7d8fd;
}
i:hover {
  color: #fff;
}

hr {
  border-top: 1px solid #a7d8fd;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}

.header__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 6rem;
}

.hdg-founded {
  background-color: #79c5ff;
  color: #000;
  font-size: 1rem;
  padding: 1rem;
  margin-bottom: 0;
}

.hdg--based {
  margin: 0 1rem 0;
  font-size: 1rem;
  background-color: #222222;
  color: #fff;
  padding: 1rem;
}

.header--image {
  display: flex;
  flex-wrap: wrap;
  width: 100%

}

@media screen and (min-width: 768px) {
  .header__container {
    > h1 {
      margin-right: 10rem;
      font-size: 27px;
    }

    .hdg-founded {
      width: 37rem;
    }
    .hdg--based {
      width: 50rem;
    }
  }
}
