.league__select {
  color: #a7d8fb;
  font-weight: 700;
}

/* Style the buttons */
.btn__league {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #222222;
  color: #000;
  cursor: pointer;
}

/* Add a light grey background on mouse-over */
.btn:hover {
  background-color: #ddd;
}

/* Add a dark background to the active button */
.btn.active {
  background-color: #a7d8fb;
  border-top: 4px solid #fff;
  color: #000;
}

.leagueHeading {
  margin-bottom: 0;
}

.externalLeagueLink {
  color: var(--white);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table__section {
  background-color: #222222;
  border-radius: 0 10px 10px 10px;
  padding: 1rem;
}

tr:first-child {
  border-bottom: 5px solid #a7d8fc
}

tr {
  border-bottom: 1px solid rgb(102, 102, 102);
}

tr:last-child {
  border-bottom: 0;
}

td,
th {
  color: #fff;
  text-align: center;
  padding: 8px;
}


/**tr:nth-child(even) {
    background-color: #dddddd;
  }*/

.btn__league--overs {
  color: #000;
  background-color: #D1D1D1;
}

.content {
  display: none;
}

.active-contaent {
  display: block;
}

.league__section {
  margin: 0 0 1rem;
}