ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  > a {
    display: block;
    color: #222;
    text-decoration: none;
    font-weight: bold;
  }
}

.nav-title {
  text-decoration: none;
}
.nav-logo {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

nav.nav__container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  font-size: 0.75rem;
  background-color: #a6d9fd;
  border-bottom: 3px solid #fff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-top: 1px solid #fff;
    li {
      margin: 1rem;
      > a {
        &:active {
          color: #2229;
        }
        &:hover {
          color: #2229;
        }
      }
    }
    .nav-sublinks {
      display: none;

      :hover {
        display: block;
      }
    }
  }

  .nav-social {
    display: none;

    li {
      margin: 1rem;
    }
  }

  .nav__hr {
    margin: 0;
  }
}

@media screen and (min-width: 500px) {
  nav.nav__container .nav-links {
    border-top: 0;
  }
}

@media screen and (min-width: 768px) {
  nav.nav__container {
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;

    .nav-main__title {
      display: flex;
      .nav-title--name {
        font-size: 2rem;
      }
    }

    .nav-links {
      display: flex;
      justify-content: flex-start;
      font-size: 18px;
      border-top: 0;
    }

    .nav-social {
      display: flex;
      > li > a > i {
        color: #222;
      }
    }

    .nav__hr {
      display: none;
    }
  }
}

// Mobile M 
@media screen and (min-width: 375) {
  nav.nav__container .nav-links {
    border-top: none;
  }
}

// Mobile L
@media screen and (min-width: 425px) {
  nav.nav__container .nav-links {
    border-top: none;
  }
}

// Desktop
@media screen and (min-width: 1024px) {

}

// Desktop Large
@media screen and (min-width: 1440px) {
  .nav-links {
    flex-basis: 50rem;
  }
}
