ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  position: sticky;
  background-color: #a7d8fc;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  top: 0;
  z-index: 999;
}

nav {
  display: inline;

  a {
    display: block;
    color: #00285e;
    text-decoration: none;
    font-weight: bold;
  }
}

.nav-title {
  text-decoration: none;
}

.nav-logo {
  display: block;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1rem;
}

.results__expand {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-weight: bold;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 1;
  top: 2.7rem;

  >a.active {
    color: var(--secondaryColor);
  }
}

.fixtures__dropdown {
  position: relative;
  display: inline-block;
  padding: 1rem 0.5rem 1rem !important;
}

.fixtures__dropdown:hover .results__expand {
  display: block;
}

nav:hover+nav .results__expand {
  display: block;
}


nav .nav__container {
  display: inline;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 14px;
  background-color: #a7d8fc;


  .nav__logo--links {
    display: inline;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 12px;

    li {
      padding: 1rem 0.4rem;

      >.active {
        text-decoration: underline;
        text-decoration-color: var(--secondaryColor);
        text-decoration-thickness: 10px;
        text-underline-offset: 12px;
      }

      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--secondaryColor);
        text-decoration-thickness: 10px;
        text-underline-offset: 12px;
      }
    }

    .nav-caret {
      margin-left: 0.25rem;
    }
  }



  .nav-social {
    display: none;

    li {
      margin: 1rem;
    }
  }
}


.dropdown-content {
  display: none;
}

.dropdown {
  &::after {
    margin-left: 0.5rem;
    content: "↧";
    text-decoration: none;
  }

  &:hover .dropdown-content {
    display: block;
  }
}

link:active {
  text-decoration: underline;
}

// Mobile M
@media screen and (min-width: 375px) {
  nav .nav__container .nav-links {
    border-top: none;
    font-size: 14px;

    li {
      font-size: 14px;
    }
  }
}

// Navbar breakpoint 1 line
@media screen and (min-width: 413px) {

  // navigation to flex-wrap: none;
  nav {

    .nav__container {
      flex-wrap: nowrap;
    }
  }
}

// Mobile L
@media screen and (min-width: 425px) {
  nav .nav__container .nav-links li {
    padding: 1rem 0.5rem
  }

}

// Mobile nav breakpoint
@media screen and (min-width: 480px) {

  // navigation to flex-wrap: none;
  nav {

    .nav__container .nav-links li {
      padding: 1rem .75rem;
    }
  }
}

@media screen and (min-width: 500px) {
  nav .nav__container {
    display: flex;

    .nav-links {
      border-top: 0;
    }
  }

}

@media screen and (min-width: 768px) {
  nav .nav__container {
    background-color: var(--primaryColor);


    .nav-main__title {
      display: flex;
      margin-right: 1rem;

      .nav-title--name {
        font-size: 2rem;
      }
    }

    .nav-links {
      display: flex;
      justify-content: flex-start;
      font-size: 14px;
      border-top: 0;
    }

    .nav-social {
      display: flex;

      >li>a>i {
        color: #00285e;

        &:hover {
          text-decoration: underline;
          text-decoration-color: var(--secondaryColor);
          text-decoration-thickness: 10px;
          text-underline-offset: 15px;
        }
      }
    }
  }
}


// New nav code

nav .nav__logo--links {
  display: flex;
  align-items: center;
}

.nav__logo--link--login {
  background-color: #a7d8fc;
  display: flex;
  justify-content: space-between;

  >li {
    margin-right: 1rem;
    align-self: center;
    list-style: none;

    &.loginList,
    &.signOutList {
      padding: 8px;
      border: 1px solid var(--secondaryColor);
      border-radius: 6px;
    }
  }
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  background-color: var(--primaryColor);

}

div.scrollmenu a {
  display: inline-block;
  color: var(--secondaryColor);
  text-align: center;
  padding: 14px;
  border-bottom: 4px solid var(--primaryColor);


  &.loginDesktop,
  &.signOutDesktop {
    display: none;

    &.active {
      background-color: var(--primaryColor);
      border-bottom: 0;
      color: var(--secondaryColor);
    }
  }

  &.active {
    background-color: var(--secondaryColor);
    color: #fff;
    border-bottom: 4px solid var(--white);

  }
}

div.scrollmenu a:hover {
  background-color: var(--secondaryColor);
  color: #fff;
  border-bottom: 4px solid var(--white);
}

// Desktop
@media screen and (min-width: 1024px) {

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

  }

  nav .nav__container {
    margin: 0 auto;
    justify-content: space-between;


    .loginList,
    .signOutList {
      display: none;
    }

    /** .nav-links {
      flex-basis: 55vw;
    }*/
    .nav__logo--links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 1024px;

      .nav__login--scrollmenu {
        flex-direction: row-reverse;
      }
    }

  }

  div.scrollmenu a {

    &.loginDesktop,
    &.signOutDesktop {
      display: inline-block;
    }
  }

}