.results__title {
    border-bottom: 3px solid var(--primaryColor);
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    .results__title--link {
     display: flex;
     justify-content: end;
     color: #fff;

    &:hover {
        text-decoration: underline;
    }
    &::after {
        color: #a7d8fc;
        margin-left: 0.5rem;
        content: ">";
        display: inline-block;
        text-decoration: none;
        &:hover {
            text-decoration: none;
            display: inline-block;
        }
    }
    }
}
.match__details {
    display: block;
    text-align: center;
}

.match__fullTime {
    font-size: 14px;
}


.match__dateTime {
    display: inline;
    margin-bottom: 0.5rem;
}

.match__teams {
    display: flex;
    justify-content: space-around;
    align-items: center;
    > img
        &:first-child {
        margin-right: 0.5rem;
        &:last-child {
            margin-left: 0.5rem;
        }
    }
}

.match__result {
    margin-bottom: 0;
}

.match__divider {
    margin: 2rem 0;
    border-top: 0px solid #fff;
    width: 90%;

}

.column__half {
    flex-basis: 50%;
}

@media screen and (min-width: 768px) {
.column__half--gap {
    margin-right: 1rem;
 }
}