
.results-heading {
    margin-top: 1rem;
    margin-left: 1rem;
    display: inline;
}

.card {
    height: 20rem;
    width: 20rem;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #fff;
    .card-description {
        padding: 1rem;
    }
    .results-link {
        float: right;
    }
    hr {
        border-bottom: 10px solid #01f2fb;
    }
}


