.container--column {
    flex-direction: column;
}

.container__squads--first {}

.container__squads--overs {
    background-color: var(--tertiaryColor);

    h1,
    h2,
    h3,
    p {
        color: black;
    }
}

.container__squads {
    flex-direction: column;

    h2 {
        width: fit-content;
        padding: 12px;
        margin: 0;
    }

    .squads__heading--first {
        background-color: var(--tertiaryColor);
        color: var(--secondaryColor);
    }

    .squads__heading--overs {
        background-color: var(--secondaryColor);
        ;
        color: #fff;
    }

    .squads__position {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;

        &.squads__position--manager {
            justify-content: start;
        }

        .marginBottom-2 {
            margin-bottom: 2rem;
        }

        p {
            font-size: 14px;
        }

        h3 {
            margin: 0;
        }

    }

    .squads__image {
        width: 100%;
        object-fit: contain;
    }

    .squads__image--firsts {
        border: none;
        width: 100%;
    }

}

.player__profile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 0;

    p {
        margin: 1rem 0 2rem;
    }
}

@media screen and (min-width: 768px) {
    .container__squads {
        .squads__position {
            // justify-content: space-evenly;
            // align-self: center;
            // max-width: 64%;
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.btn__navy.active {
    background-color: var(--secondaryColor);
    color: #fff;
}