/* Global setup styles */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html {
    background-color: #000;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h2 {
    color: #fff;
}

.row {
    margin: 1rem;
}

@media screen and (min-width: 768px) {

    .column__one {
        display: flex;
        flex-direction: column;
        flex: 0 1 68%;
        margin-right: 1rem;
    }

    .card__container--news--columnTwo {
        display: flex;
        flex-direction: column;
        flex: 0 1 25%;
    }

    .column__two {
        display: flex;
        flex-direction: column;
        flex: 0 1 30%;
    }

    .column__results__fixtures {
        display: flex;
        flex-direction: row;
    }
}

@media screen and (min-width: 1024px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
}