/* Global setup styles */
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

html {
    background-color: #000;
    font-size: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

h2 {
    color: #fff;
    margin-bottom: 2rem;
}

label {
    color: #fff;
}

.container {
    margin: 1rem;
}

.container__sponsors {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2rem;
    background-color: #fff;
    width: 100%;
    height: 6rem;
}

.container__sponsors--centered {
    width: 1024px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container__divider { 
    border-right: 1px solid #e5e5e5b5;
    line-height: 1.6rem;
    padding-right: 1rem;
    color: #ababab;
    font-size: 14px;
}

#instafeed-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

#instafeed-container img {
    width: 300px;
    height: 300px;
    margin: 0 1rem 1rem 0;
}

@media screen and (min-width: 768px) {

    .column__one {
        display: flex;
        flex-direction: column;
        flex: 0 1 60%;
    }

    .card__container--news--columnTwo {
        display: flex;
        flex-direction: column;
        flex: 0 1 25%;
    }

    .column__two {
        display: flex;
        flex-direction: column;
        flex: 0 1 30%;
    }

    .column__results__fixtures {
        display: flex;
        flex-direction: row;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    
    .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1024px;
        margin: 0 auto;
        }

        .column__one {
            display: flex;
            flex-direction: column;
            flex: 0 1 60%;
        }

        .column__two {
            display: flex;
            flex-direction: column;
            flex: 0 1 40%;
        }

        .heading{
            text-align:center;
        }
    }