body {
  background-color: #000;
}

.App {
  text-align: center;
  padding: 1rem;
}

.App-logo {
  height: 30rem;
  width: 30rem;
  pointer-events: none;
}

.App-header {
  background-color: #000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1, b {
  color: #01f2fb;
}

b {
  font-size: 16px;
}

.fa-instagram {
  color: #01f2fb;
}
.fa-instagram:hover {
  color: #fff; 
}

hr {
  border-top: 1px solid #01f2fb;
  width: 10vw;
}